# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json
---
# Project information
site_name: "My IT Journal"
site_author: "Michael Rolli"
site_description: >-
  Collected tips and guides whenever I found it worth or needed to keep the
  insights to help my brain or to give guidance to our apprentices.

# Repository
repo_name: mrolli/myitjournal
repo_url: https://github.com/mrolli/myitjournal
edit_uri: "edit/main/docs"

# Copyright
copyright: 'Copyright &copy; 2021 Michael Rolli<br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.'

# Configuration
theme:
  name: material
  icon:
    logo: fontawesome/solid/chalkboard-user
  language: en
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: orange
      accent: orange
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: amber
      accent: amber
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  features:
    - content.code.annotate
    - content.tabs.link
    - content.tooltips
    - navigation.expand
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.suggest
    - toc.follow

plugins:
  - git-revision-date-localized
  - glightbox
  - search

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - pymdownx.betterem
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.keys
  - pymdownx.snippets:
      auto_append:
        - includes/abbreviations.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - toc:
      toc_depth: 3

extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/mrolli/

extra_css:
  - stylesheets/extra.css

# Page tree
nav:
  - "Home": index.md
  - "Courses":
      - "Tools": courses/tools.md
      - "My IT Journal":
          - "Work instructions": courses/myitjournal.md
          - "WB_KW32": courses/wb_demo.md
      - "Webapp Stack": courses/webappstack.md
      - "The World in SQL": courses/world_in_sql.md
  - "Guides":
      - "Ansible": guides/ansible.md
      - "Certificates with OpenSSL": guides/certificates.md
      - "Homebrew": guides/homebrew.md
      - "macOS FAQs": guides/macos_faq.md
      - "Mnemonics": guides/mnemonics.md
      - "Miniconda": guides/miniconda.md
      - "MkDocs": guides/mkdocs.md
      - "Neovim": guides/neovim.md
      - "Shell Scripting":
          - "Bash Heredoc": guides/scripting/bash_heredoc.md
          - "Sed": guides/scripting/sed.md
      - "tmux": guides/tmux.md
      - "Vagrant": guides/vagrant.md
      - "Vim": guides/vim.md
      - "Zsh": guides/zsh.md
      - "Miscellaneous": guides/misc.md
  - "Git/GitHub":
      - "Git":
          - "Learning Git": gitandco/git.md
          - "Git Workflows": gitandco/gitworkflows.md
          - "Git Recipes": gitandco/gitrecipes.md
      - "Github": gitandco/github.md
  - "Azure":
      - "Decision Trees": azure/decision_trees.md
      - "FAQ": azure/faq.md
      - "Bookmarks": azure/linklist.md
  - "Plesk":
      - "Useful Commands": plesk/useful_cli_commands.md
  - "MdCheat": mdcheat.md
  - About Me: about.md
